/*
Error: The line was indented 2 levels deeper than the previous line.
        on line 12 of /Users/goldsborough/Documents/ML/talks/cpp-london-2017/presentation/slides/title.tex

7:     \vspace*{-20pt}%
8:     \footnotesize Peter Goldsborough\hspace{5.2cm} {\today}}%
9: }
10: 
11: \begin{frame}
12:     \title{
13:       \vspace{1.6cm}\\
14:       {\Huge \texttt{./clang-talk}}\\
15:       \vspace{0.75cm}
16:       \texttt{-author=Peter Goldsborough}\\
17:       \vspace{0.75cm}

Backtrace:
/Users/goldsborough/Documents/ML/talks/cpp-london-2017/presentation/slides/title.tex:12
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:520:in `tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:409:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:391:in `run'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: The line was indented 2 levels deeper than the previous line.\A         on line 12 of /Users/goldsborough/Documents/ML/talks/cpp-london-2017/presentation/slides/title.tex\A \A 7:     \vspace*{-20pt}%\A 8:     \footnotesize Peter Goldsborough\hspace{5.2cm} {\today}}%\A 9: }\A 10: \A 11: \begin{frame}\A 12:     \title{\A 13:       \vspace{1.6cm}\\\A 14:       {\Huge \texttt{./clang-talk}}\\\A 15:       \vspace{0.75cm}\A 16:       \texttt{-author=Peter Goldsborough}\\\A 17:       \vspace{0.75cm}"; }
